.navigation-head {
    width:100%;
    padding:1%;
    display:flex;
}

.logo {
    padding:1%;
    text-align:left;
}

.menu {
    text-align: right;
    width:100%;
    justify-content: center;
}

.heroImg {
    height:600px;
    padding: 25px;
}

/* footer */
.social-media {
    padding: center;
    list-style: none;
}

.menu {
    letter-spacing: 0em;
    font-family: Open Sans;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    /* letter-spacing: .10em; */
    text-transform: lowercase;
    color:yellow;
}